@font-face {
  font-family: Geometria;
  src: url("../assets/fonts/subset-Geometria-Medium.woff2") format("woff2"),
    url("../assets/fonts/subset-Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geometria;
  src: url("../assets/fonts/subset-Geometria-Bold.woff2") format("woff2"),
    url("../assets/fonts/subset-Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
